.sidebarOption {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  align-items: center;
}
.sidebarOption:hover {
  background-color: whitesmoke;
}
.sidebarOption .userInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 0.1px solid #dfdfdf;
}
.sidebarOption .userInfo .lastInfo {
  display: flex;
  align-items: center;
  color: grey;
}
.sidebarOption .userInfo > h3 {
  font-weight: 300;
  margin: 0;
}
.lastInfo .lastInfo__icon {
  color: aqu;
}
.sidebarOption .userInfo .lastInfo > p {
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}
